name: Publish image to container registry
on:
  push:
    tags:
    - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  # prerequisites:
  #   name: Check for prerequisites
  #   runs-on: ubuntu-20.04

  #   steps:
  #     - uses: actions/checkout@v2
  #       with:
  #         ref: main

  #     - name: Check whether elements exist for the current release-tag in CHANGELOG.md
  #       shell: bash
  #       run: |
  #         grep "${GITHUB_REF##*/}" CHANGELOG.md

  build-and-push:
    # needs: prerequisites
    name: Build tagged docker image and push to container registry
    runs-on: ubuntu-22.04
    env:
      CONTAINER_REGISTRY: ghcr.io
    steps:

      - uses: actions/checkout@v4
        with:
          ref: main

      - name: Build the tagged Docker image
        shell: bash
        run: |
          docker build -t $CONTAINER_REGISTRY/${{ github.repository_owner }}/$( echo ${{ github.repository }} | sed 's|.*/containered-||' ):${GITHUB_REF##*/} .
          docker build -t $CONTAINER_REGISTRY/${{ github.repository_owner }}/$( echo ${{ github.repository }} | sed 's|.*/containered-||' ):latest .

      - name: Log into container registry
        shell: bash
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io --username ${{ github.repository_owner }} --password-stdin

      - name: Push the tagged Docker image
        shell: bash
        run: |
          docker push $CONTAINER_REGISTRY/${{ github.repository_owner }}/$( echo ${{ github.repository }} | sed 's|.*/containered-||' ):${GITHUB_REF##*/}
          docker push $CONTAINER_REGISTRY/${{ github.repository_owner }}/$( echo ${{ github.repository }} | sed 's|.*/containered-||' ):latest

      - name: Log out of container registry
        shell: bash
        run: |
          docker logout
